#search-wrap {
  .search-form {
    margin-bottom: r(25px);
    border-bottom: r(1px) solid colors.black;
    padding: r(15px) 0;
  }
}

.search-form {
  &__single {
    display: flex;
    flex-flow: row nowrap;

    input[type="search"] {
      width: 75%;
      padding-left: r(15px);
      padding-right: @padding-left;
    }

    button[type="submit"] {
      width: 25%;
    }
  }
}
