#search-wrap {
  .search-form {
    margin-bottom: 25px;
    border-bottom: 1px solid colors.black;
    padding: 15px 0;
  }
}

.search-form {
  &__single {
    display: flex;
    flex-flow: row nowrap;

    input[type="search"] {
      width: 75%;
      padding-left: 15px;
      padding-right: @padding-left;
    }

    button[type="submit"] {
      width: 25%;
    }
  }
}
