h1, h2, h3, h4, h5, h6, p {
  font-family: fonts.sans;

  // Disable defaults
  margin: 0;
  padding: 0;
  margin-bottom: r(25px); // Prefer using margin-bottom over top.

  line-height: 1.4;
}

h1 {
  font-size: r(60px);
  line-height: 1.5;
}

h2 {
  font-size: r(40px);
}

h3 {
  font-size: r(30px);
}

h4 {
  font-size: r(25px)
}

h5 {
  font-size: r(20px);
}

h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  margin: 0 r(25px) r(25px) r(25px)
}
