## Skeletor-files

nginx/
scripts/

.env
composer.json
config-sample.yml
LICENSE
vagrant-up-customizer.sh
Vagrantfile

## Customer-specific files
!custom/composer.json
!htdocs/
htdocs/*
!htdocs/wp-content/
htdocs/wp-content/*
!htdocs/wp-content/themes/

# Run-time output, not need to track in git
tmp/
bin/
.vagrant
mkmf.log
myrecording

# Libraries installed by Composer, Bower etc
vendor/*
!vendor/.gitkeep
composer.lock

# Misc
.DS_Store
