/* http://stackoverflow.com/a/2610741/4671020 */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: currentColor;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: currentColor;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: currentColor;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: currentColor;
}

.fc- {
  &1-2 {
    column(1/2, cycle: 2);
  }

  &1-1 {
    column(1/1);
  }

  &row {
    cf();
    overflow: hidden;
    padding-bottom: 25px;

    &:last-of-type {
      // WPLF adds hidden inputs.
      padding-bottom: 0;
    }

    input[type="text"],
    input[type="email"],
    input[type="search"],
    textarea {
      width: 100%;
      appearance: none;
      outline: 0;
      border: 1px solid darken(colors.white, 10%);
      border-radius: 0;
      background: colors.white;
      padding: 16px 15px;
      overflow: hidden;
    }

    label {
      span {
        display: block;
      }

      strong {
        margin-bottom: 5px;
        display: block;
      }
    }

    .help-text {
      // Use to provide additional information from field.
      font-size: 13px;
      line-height: 22px;
      font-weight: 400;
      display: inline-block;
      margin-top: 10px;
    }
  }
}

/* Sample HTML:
<div class="fc-row">
  <div class="fc-1-2">
    <label>
      <strong>Name</strong>
      <input type="text">
    </label>
  </div>
  <div class="fc-1-2">
    <label>
      <strong>Email</strong>
      <input type="email">
    </label>
  </div>
</div>
*/
