colors = json('../../shared-variables.json', { hash: true }).colors;
mq = json('../../shared-variables.json', { hash: true }).mq;

fonts = {
  sans: 'Sans Serif'\, sans-serif,
  serif: Serif\, sans-serif
};