@import "~jeet/jeet";
@import 'styl/variables';
@import 'styl/functions';

@import 'styl/reset';

html {
  box-sizing: border-box;
  font-size: 16px; // rem values are based on this. Change it to scale everything.
  line-height: r(24px);
}

*, *:before, *:after {
  box-sizing: inherit
}

body {
  // By using these nonstandard properties, we make text look good.
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img,
embed,
iframe,
object {
	max-width: 100%;
}

// Order so that overriding rules appear later.
@import 'styl/helpers';
@import 'styl/typography';
@import 'styl/buttons';
@import 'styl/forms';
@import 'styl/structural';
@import 'styl/element-demo';
