@import 'styl/settings/variables';
@import 'styl/settings/functions';

@import 'styl/settings/reset';

html {
  box-sizing: border-box;
  font-size: 16px; // rem values are based on this. Change it to scale everything.
  line-height: 24px;
}

*, *:before, *:after {
  box-sizing: inherit
}

body {
  // By using these nonstandard properties, we make text look good.
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img,
embed,
iframe,
object {
	max-width: 100%;
}

// Base
@import 'styl/base/*';

// Layouts
@import 'styl/layouts/*';

// Components
@import 'styl/components/*';

// Order so that overriding rules appear later.
@import 'styl/settings/helpers';
@import 'styl/wordpress';
