.container {
  > article {
    > .entry-content {
      > *:not(.rnb_full_width){ // set container all except rnb_full_width classes
        container()
      }
      > p,
      > ul,
      > ol {
        #content & { // if narrower paragraphs and lists
          max-width: 788px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
